# Production

# Server port of ApiGw
SERVER_PORT=
# Mongo DB URI
MONGODB_URI=
# User to use to connect to the database (Non root user)
MONGODB_USER=
# Password of the non root user
MONGODB_PASS=
# Admin user to be used by mongo image
MONGODB_ADMIN_USER=
# Password of the admin user
MONGODB_ADMIN_PASS=
# Platzily DB name
MONGODB_DATABASE=

# Development

DEV_MONGODB_URI=
DEV_MONGODB_USER=
DEV_MONGODB_PASS=
DEV_MONGODB_ADMIN_USER=
DEV_MONGODB_ADMIN_PASS=
DEV_MONGODB_INIT_DATABASE=
DEV_MONGODB_DATABASE=